@model IEnumerable<babylawya.Models.Entities.Document>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container-fluid padding-bottom-5">
    <h2>Document List</h2>
    <p>
        <a asp-action="Upload">Add new document</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date Created
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Download" asp-route-filename="@item.Name">Download</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>